<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>GEVS</title>
    <link href="./static/style.css" rel="stylesheet" type="text/css">
</head>
<body>
<h1>General Election Voting System</h1>
<form id ="form" action="{{ url_for("login")}}" method="post">
<label for="user">Username:</label><br>
  <input type="text" id="user" name="user"><br>
  <label for="password">Password:</label><br>
  <input type="password" id="password" name="password"><br>
   <input type="submit">
</form>
<script>
    var message ={{message}};
</script>
<b>{{ message }}</b><br>
<a href="{{ url_for("register") }}" class="button"><button>Register to Vote Here!</button></a>

</body>
</html>